/* Estilos para o corpo da página */
body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 20px;
  background-color: #333;
}

/* Estilos para o vídeo */
#video {
  width: 100%;
  border-radius: 4px;
}

/* Estilos para o botão de upload de arquivo */
#fileInput {
  width: 92%;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#fileInput:hover {
  background-color: #2c3e50;
}

/* Loucura */

.iGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.iGroup label {
  margin-right: 0px;
}


/* Estilos para os campos de tempo */

label {
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f5;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  color: #f5f5f5;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

/* Estilos para o botão "Copiora" */
button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #000000;
}

/* Estilos para a duração do vídeo */
#duration {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #f5f5f5;
}